@font-face {
  font-family: 'icomoon';
  src: url('https://i.icomoon.io/public/3d7b4739ad/lwsdorg/icomoon.eot?sru0rk');
  src: url('https://i.icomoon.io/public/3d7b4739ad/lwsdorg/icomoon.eot?sru0rk#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/3d7b4739ad/lwsdorg/icomoon.woff2?sru0rk') format('woff2'),
    url('https://i.icomoon.io/public/3d7b4739ad/lwsdorg/icomoon.ttf?sru0rk') format('truetype'),
    url('https://i.icomoon.io/public/3d7b4739ad/lwsdorg/icomoon.woff?sru0rk') format('woff'),
    url('https://i.icomoon.io/public/3d7b4739ad/lwsdorg/icomoon.svg?sru0rk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cone:before {
  content: "\e939";
}

.icon-sports-shoe:before {
  content: "\e93a";
}

.icon-AST_icon-ql-volunteer:before {
  content: "\e921";
  color: #fff;
}

.icon-AST_icon-mobile-plus:before {
  content: "\e920";
  color: #fff;
}

.icon-icon-hamburger-menu:before {
  content: "\e914";
  color: #fff;
}

.icon-AST_icon-lunch:before {
  content: "\e912";
  color: #fff;
}

.icon-AST_icon-news:before {
  content: "\e91c";
  color: #fff;
}

.icon-AST_icon-calendar:before {
  content: "\e90d";
  color: #fff;
}

.icon-AST_icon-close:before {
  content: "\e90e";
  color: #c7e2e6;
}

.icon-AST_icon-college:before {
  content: "\e90f";
  color: #007795;
}

.icon-AST_icon-directory:before {
  content: "\e910";
  color: #fff;
}

.icon-AST_icon-fees:before {
  content: "\e911";
  color: #fff;
}

.icon-AST_icon-map:before {
  content: "\e913";
  color: #fff;
}

.icon-AST_icon-registration:before {
  content: "\e915";
  color: #fff;
}

.icon-AST_icon-report:before {
  content: "\e916";
  color: #fff;
}

.icon-AST_icon-solar:before {
  content: "\e917";
  color: #007795;
}

.icon-AST_icon-test:before {
  content: "\e918";
  color: #007795;
}

.icon-AST_icon-volunteer:before {
  content: "\e919";
  color: #007795;
}

.icon-AST_logo-full-whie:before {
  content: "\e91a";
  color: #fff;
}

.icon-AST_notification-bell:before {
  content: "\e91b";
  color: #fff;
}

.icon-pencil:before {
  content: "\e941";
}

.icon-book:before {
  content: "\e942";
}

.icon-apple:before {
  content: "\e943";
}

.icon-graduation-cap:before {
  content: "\e944";
}

.icon-mortar-board:before {
  content: "\e944";
}

.icon-credit-card:before {
  content: "\e945";
}

.icon-chevron-circle-right:before {
  content: "\e946";
}

.icon-chevron-circle-left:before {
  content: "\e947";
}

.icon-arrow-circle-right:before {
  content: "\e948";
}

.icon-arrow-circle-left:before {
  content: "\e949";
}

.icon-phone:before {
  content: "\e93b";
}

.icon-calendar-check-o:before {
  content: "\e93c";
}

.icon-calendar:before {
  content: "\e93d";
}

.icon-star-o:before {
  content: "\e93e";
}

.icon-star:before {
  content: "\e93f";
}

.icon-futbol-o:before {
  content: "\e940";
}

.icon-soccer-ball-o:before {
  content: "\e940";
}

.icon-snowflake-o:before {
  content: "\e92f";
}

.icon-mobile:before {
  content: "\e930";
}

.icon-video-camera:before {
  content: "\e931";
}

.icon-building:before {
  content: "\e932";
}

.icon-bus:before {
  content: "\e933";
}

.icon-automobile:before {
  content: "\e934";
}

.icon-ban:before {
  content: "\e935";
}

.icon-music:before {
  content: "\e936";
}

.icon-map:before {
  content: "\e937";
}

.icon-cutlery:before {
  content: "\e938";
}

.icon-laptop:before {
  content: "\e924";
}

.icon-flag:before {
  content: "\e925";
}

.icon-cogs:before {
  content: "\e926";
}

.icon-gears:before {
  content: "\e926";
}

.icon-exclamation-triangle:before {
  content: "\e927";
}

.icon-warning:before {
  content: "\e927";
}

.icon-exclamation-circle:before {
  content: "\e928";
}

.icon-camera:before {
  content: "\e929";
}

.icon-bicycle:before {
  content: "\e92a";
}

.icon-medkit:before {
  content: "\e92b";
}

.icon-user-md:before {
  content: "\e92c";
}

.icon-heartbeat:before {
  content: "\e92d";
}

.icon-ambulance:before {
  content: "\e92e";
}

.icon-chain:before {
  content: "\e922";
}

.icon-home:before {
  content: "\e923";
}

.icon-minus:before {
  content: "\e91f";
}

.icon-map-marker:before {
  content: "\e91e";
}

.icon-clock-o:before {
  content: "\e91d";
}

.icon-linkedin:before {
  content: "\e908";
}

.icon-youtube-play:before {
  content: "\e909";
}

.icon-instagram:before {
  content: "\e90a";
}

.icon-twitter:before {
  content: "\e90b";
}

.icon-facebook:before {
  content: "\e90c";
}

.icon-facebook-f:before {
  content: "\e90c";
}

.icon-angle-left:before {
  content: "\e905";
}

.icon-angle-right:before {
  content: "\e906";
}

.icon-caret-right:before {
  content: "\e907";
}

.icon-angle-down:before {
  content: "\e903";
}

.icon-caret-down:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e900";
}

.icon-bell:before {
  content: "\e901";
}

.icon-globe:before {
  content: "\e902";
}

#img120 {
  border-radius: 30;
  border-color: black;
  border-width: 20px;
}

#img121 {
  border-radius: 30;
  border-color: black;
  border-width: 20px;
}

#snew1 {
  background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWJzdHJhY3QlMjBjb2xvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
  border-radius: 5px;
  color: white;
  height: 500px;
  width: 1000px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  position: sticky;
  margin-top: 250px;
}

#snew3,
#snew4,
#snew5 {
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
}

#movie {
  height: 30px;
  width: 500px;
  background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWJzdHJhY3QlMjBjb2xvcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
}


#skyline {
  border-radius: 20px;
  width: 200px;
  height: 10px;
  background-color: white;
  margin-right: 765px;
}